* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
}

.main {
    background-image: url("../images/bg.png");
    background-position: center;
    background-size:cover;
}

.header {
    padding: 35px 0 35px 0;
    border-bottom: 1px solid rgba(255,255,255,20%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



.logo {
    margin-right: 281px;
}

.menu {
    display: inline-block;
}

.menu-item {
    margin-right: 50px;
    display: inline-block;
}

.menu-item a {
    font-size: 16px;
    color: rgb(237, 224, 248);
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
}

.main-info {
  padding: 151px 0 205px 0;
}

.main-info-title {
    font-size: 43px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    text-align: left;
    max-width: 451px;
}

.main-info-text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    display: inline-block;
    margin-left: 14px;

}


.junior {
    margin-top: 80px;

}

.zvezda {
    vertical-align:bottom;
}

.main-info-action {
    margin-top: 101px;
}

.button {
    width: 224px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 3.438;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.button.main-info-button {
    background-color:transparent;
    border:2px solid white;
}

.time-course {
    padding: 140px 0;
}

.time-course-title {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    line-height: 1.571;
    text-align: left;
}

.ul-text {
    margin-top:75px;
    list-style: none;
}

.li-img {
    margin-right: 15px;
    vertical-align:bottom;
}

.time-course-li {
    margin-bottom: 15px;
    font-size: 0;
}
span {
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
    text-align: left;
}

/*.last-page {*/
/*    background-image: url("../images/bg2.png");*/
/*    background-position: center;*/
/*    background-size:cover;*/
/*    padding:140px 462px 140px 462px*/
/*}*/

/*.last-page-container {*/
/*    max-width: 996px;*/
/*    background-color: white;*/
/*    margin: 0 auto;*/
/*    border-radius: 20px;*/
/*}*/

/*.last-page-title {*/
/*    padding:60px 46px 40px 50px;*/
/*    font-size: 35px;*/
/*    color: rgb(139, 103, 214);*/
/*    font-weight: bold;*/
/*    line-height: 1.571;*/
/*    text-align: left;*/
/*    margin: 0 auto;*/
/*}*/

/*.last-page-text-first {*/
/*   padding: 40px 204px 30px 204px;*/
/*    font-size: 16px;*/
/*    color: rgb(49, 27, 94);*/
/*    line-height: 1.5;*/
/*    text-align: center;*/
/*}*/


.last-page {
    background: url("../images/bg2.png") center;
    padding: 140px 0 0 0;
    background-size: cover;
}

.last-page-container {
    width: 996px;
    background: white;
    padding: 60px 0 44px ;
    margin: 0 auto;
    border-radius: 20px;

}

.last-page-title {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    line-height: 1.571;
    text-align: left;
    margin-left: 111px;
    margin-right: 108px;
    margin-bottom: 40px;
}

.last-page-text-first {
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
    text-align: center;
    margin-left: 202px;
    margin-right: 202px;
    margin-bottom: 30px;
}

.last-page-text-second {
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 202px;
    margin-right: 202px;
}

.last-page-action {
    margin-left: 374px;
    margin-right: 398px;
}

button.last-page-button {
    font-size: 16px;
    color: rgb(177, 128, 228);
    font-weight: bold;
    line-height: 3.438;
    text-align: center;
    background-color:transparent;
    border:2px solid rgb(177, 128, 228);
}

footer {
    text-align: center;
    border-top:1px solid rgba(255,255,255,20%);
    padding: 40px 0;
    margin-top: 140px ;

}





















